@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;1,700&display=swap');
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width:700px;
    margin:auto;
    margin-top: 10%;
}

.question{
     display: flex;
     justify-content: space-between;
     width: 700px;
}
.questionCard{
 width: 100%;
 margin: 1.9rem;
}

h1{
    color: #caa501;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
}

h2{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    margin-top: 1rem;
}

button{
border:none;
    height:2rem;
    font-size: 2rem;
    transform-origin: center ;
    cursor: pointer;
    margin
}



button:hover{
    animation: animate 2s alternate infinite ease-in-out;
}
@keyframes animate{
    from{
        transform:scale(1) rotate(0deg);
    }
    to{
        transform:scale(1.5) rotate(90deg);
    }
}
p{
    display:none;
    color:#617d98;
    border-top: 0.5px solid silver;
    padding-top: 1rem;
    font-size: 1.2rem;
}
.visible{
    display:block ;
}